.countryDiv{
    padding: 4% 4%;
    color: var(--text-color);   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.countryDiv img {
    width: 40%;
}

.infoDiv {
    width: 50%;
}

.colDiv {
    display: flex;
}

.col{
    /* display: inline-block; */
    text-align: left;
    width: 100%;
}

.row{
    display: flex;
    width: 100%;
}

.row p{
    font-weight: 600;
    margin: 6px 0;
}

.row span{
    font-weight: 300;
}



.borderRow{
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.borderP{
    padding: 0.5rem 0;
}

@media (max-width:1028px){

    .countryDiv{
        display: block;
    }

    .countryDiv img {
        width: 100%;
    }
    
    .infoDiv {
        width: 100%;
    }

    

    .colDiv {
        display: block;
    }

    .col{
        /* display: inline-block; */
        text-align: left;
        width: 100%;
        margin-bottom: 2rem;
    }
}