.topbar {
    background-color: var(--element-color);
    margin: 0;
    padding: 0 7%;
    color:var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    font-size:var(--detail-page-siz);
    z-index: 10;
    box-shadow: 0px 0.1px 0.4px 0px grey;
}

.topbar h2 {
    font-weight: 600;
    font-size:var(--detail-page-size);
}

.mode{
    display: flex;
    color:var(--text-color);
}

.mode svg { 
    fill: var(--text-color); 
    width: 1.5rem;
    margin-right: 0.5rem;
    background-color: var(--element-color);
}

@media (max-width:1028px) {
    .topbar {
        font-size:10px;
    }

    .topbar h2 {
        font-size: 8px;
    }

    .mode svg { 
        fill: var(--text-color); 
        width: 1rem;
        margin-right: 0.2rem;
        background-color: var(--element-color);
    }

}